* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
body {
    background-color: #0a69ed;
}
.start-screen,
.score-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
}
#start-button, 
#restart {
    font-size: 1.3em;
    padding:0.5em 1.8em;
    border-radius: 0.2em;
}
#restart {
}
#display-container {
    background-color: #ffffff;
    padding: 3.1em 1.8em;
    width: 80%;
    max-width: 37.5em;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
}
.header {
    margin-bottom: 1.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.6em;
    border-bottom: 0.1em solid #c0bfd2;
}
.timer-div {
    background-color: #e1f5fe;
    width: 7.5em;
    border-radius: 1.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7em 1.8em;
}
#next-button {
    font-size: 1em;
    margin-top: 1.5em;
    background-color: #0a69ed;
    color:#ffffff
    padding: 0.7em 1.8em;
    border-radius: 0.3em;
    float: right;
}
.hide {
    display: none;
}
#user-score { 
    font-size: 1.5em;
    color: #ffffff;
}